body {
    margin: 0;
    padding: 0;
}

.contact-button {
    width: 100px;
    height: 100px;
    /* background-color: #3498db; */
    /* color: #fff; */
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    right: 0;
}

.contact-button:hover::after {
    content: "Liên lạc";
    width: 100px;
    font-size: 20px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3F85EA;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.contact-info {
    display: none;
    position: fixed;
    bottom: 200px;
    right: 70px;
    background-color: #3F85EA;
    padding: 38px;
    border-radius: 84px 84px 0;
    height: 300px;
}

.contact-info a p {
    font-size: 20px;
}


.contact-box a span {
    position: absolute;
    display: block;
}

.contact-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.contact-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.contact-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.contact-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
h2 {
    color: #fff;
}

}